DB_HOST=localhost
DB_PORT=5432
DB_NAME=KimochiShop
DB_USER=postgres
DB_PASSWORD=YOUR_PASSWORD_HERE

#  VIẾT THÊM ĐOẠN NÀY CHO EMAIL
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=abcdefghijklmnop #(Lấy mã từ 